<div class="container">
    <br>
    <h1>Data binding</h1>
    <div class="row">
        <app-fechaactual></app-fechaactual>
    </div>
    <div class="row">
        <app-viewmodelo></app-viewmodelo>
    </div>
    <div class="row">
        <app-ejmetodo></app-ejmetodo>
    </div>
    <div class="row">
        <app-modal></app-modal>
    </div>
    <div class="row">
        <app-ejpropertybinding></app-ejpropertybinding>
    </div>
    <div class="row">
        <br>
        <app-ejeventbinding></app-ejeventbinding>
    </div>
    <div class="row">
        <app-ej2waybinding></app-ej2waybinding>
    </div>
</div>